<div class="side_bar_top">
    <%= link_to "#{current_user.name}", edit_user_path(current_user), class: "user_name" %>
    <%= link_to "チャットを作成する", new_room_path , class: "chat_create_button" %>

</div>

<div class="room">
  <% current_user.rooms.each do |room|%>
    <%= link_to "#{room.name}", "#", class: "chat_room" %>
  <% end %>
</div>