<div class="side_bar_top">
    <%= link_to "Tom", "#", class: "user_name" %>
    <%= link_to "チャットを作成する", "#", class: "chat_create_button" %>

</div>

<div class="room">
  <%= link_to "techroom1", "#", class: "chat_room" %>
  <%= link_to "techroom2", "#", class: "chat_room" %>
</div>